<div class="jumbotron">
     <h1 class="title">银行招聘网</h1>
     <p class="slogan"> 这里是为欲投身于银行领域的人士准备的求职网站。
     <br>
     通过对各大银行招聘信息的整合，让您可以更快速的找到心仪工作。
     <br>
      银行招聘网，伴您成长。
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>
   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww2.sinaimg.cn/large/006y8lVagy1fc0eygf9lwj303k03kq2p.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>校园招聘</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006y8lVagy1fc0j2slih5j303k03k0hd.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3>社会招聘</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fc0k34hj0aj303k03kdfm.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>银行通道</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
